# Node modules
node_modules/
uploads/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
